
<!DOCTYPE html>
<html lang="en" ng-app="watchlist">
  <head>
    <meta charset="utf-8">
    <title>zacharytamas.com | Trade Calculator</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/watchlist.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/watchlist.js"></script>
    
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand">Watchlist</a>
        </div>
      </div>
    </div>

    <div ng-controller="Watchlist">
      <div class="container-fluid" style="padding: 0">
        <div class="row-fluid">

          <div class="span3">
            <div class="well sidebar-nav">
              <form ng-submit="addStock()">
                <input type="text" ng-change="formatStockAdd()" ng-model="stock_to_add" placeholder="Enter a stock to add">
              </form>
              <ul>
                <li ng-repeat="stock in stocks">
                  <a href="#/stock/{{ stock.name }}" ng-click="showStock($index)">{{ stock.name }}</a>
                  <button class="btn btn-danger" title="Remove {{ stock.name }} from Watchlist" ng-click="removeStock($index)">X</button>
                </li>
              </ul>
            </div>
          </div>

          <div class="span9">
            <!-- TradingView Widget BEGIN -->
            <script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
            <script type="text/javascript">
              new TradingView.widget({
                "width": "100%",
                "height": "600",
                "symbol": "{{ selected_stock.name }}",
                "interval": "D",
                "toolbar_bg": "#E4E8EB",
                "allow_symbol_change": false
              });
            </script>
            <!-- TradingView Widget END -->

            <!-- <ng-view></ng-view> -->
          </div>

        </div>
      </div>
    </div>


  </body>
</html>